body {
	display: grid;
	grid-template-columns: 25% 75%;
	grid-template-rows: auto;
	grid-template-areas: 	"header header"
							"nav main"
							"footer footer";
}

header {
 background-color: blue;
 color: white;
 padding: 20px;
 grid-area: header;
}

nav {
 background-color: yellow;
 grid-area: nav;
}

main {
 background-color: darkblue;
 color: white;
 grid-area: main;
}

aside {
 background-color: lightgreen;
 grid-area: aside;
}

footer {
 background-color: darkgreen;
 color: white;
 grid-area: footer;
}
